*.pyc
.svn
.sconsign.dblite
*.exe
*.obj
*.o
*.dll
*.exp
*.lib
*.exp
*.bak
example/framework/00_minimal/main
example/framework/01_extend/main
example/test/architecture/main-amd64
example/test/architecture/main-emt64
example/test/architecture/main-i386
example/test/architecture/main-i486
example/test/architecture/main-i586
example/test/architecture/main-i686
example/test/architecture/main-ia64
example/test/architecture/main-itanium
example/test/architecture/main-x86
example/test/architecture/main-x86_64
example/test/architecture/main-x86_amd64
example/test/boost-lexical_cast/main
example/test/python/UniversalTest-1.0.0.0/
example/test/python/install/
example/test/warning-unused/main
example/framework/02_cpp11/main
